/* =====================
   DUGMAD
===================== */
.dodatna-dugmad {
  background: none;
  color: #0bf59b;
  cursor: pointer;
}

.dodatna-dugmad:hover {
  text-decoration: underline;
}

button.dodatna-dugmad:last-of-type {
  width: 100%;
}

/* =====================
   RESPONSIVNESS
===================== */

/* DESKTOP ≥ 1024px */
@media (min-width: 1024px) {
  form {
    max-width: 420px;
    padding: 40px;
  }
}
