/* HERO SECTION */
.hero {
  text-align: center;
  background-color: rgb(193, 202, 255);
  padding: 0.5rem 1rem;
}

.hero p {
  max-width: 700px;
  margin: 2rem auto 3rem;
  color: #666;
  font-size: 1rem;
  line-height: 1.7;
}

.brands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.brand-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 1rem;
}

/* CATEGORY SECTION */
.categories-section {
  margin-top: 5rem;
  text-align: center;
}

.categories-section p {
  color: #666;
  margin-bottom: 3rem;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.category-card {
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: translateY(-8px);
}

.category-card img {
  width: 100%;
  height: 380px;
  object-fit: contain;
  display: block;
}

.category-content {
  padding: 1.5rem;
  text-align: center;
}

.category-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #111;
}

/* PROMO SECTION */
.banner {
  width: 100%;
}

.promo-section {
  margin-top: 5rem;
  text-align: center;
  background: #f8f8f8;
  border-radius: 24px;
  overflow: hidden;
  padding-bottom: 3rem;
}

.promo-content {
  padding: 2.5rem 2rem 0;
}

/* RESPONSIVNESS */
@media (max-width: 900px) {
  .brands {
    grid-template-columns: repeat(2, 1fr);
  }

  .categories {
    grid-template-columns: repeat(2, 1fr);
  }

  .promo-section {
    flex-direction: column-reverse;
    text-align: center;
    padding: 2rem;
  }

  .banner {
    max-width: 100%;
    height: 300px;
  }
}

@media (max-width: 600px) {
  .home {
    padding: 3rem 1rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .brands {
    grid-template-columns: 1fr;
  }

  .brand-card img {
    width: 100px;
    height: 100px;
  }

  .categories {
    grid-template-columns: 1fr;
  }

  .banner {
    height: 250px;
  }

  .promo-content {
    padding: 2rem 1rem 0;
  }
}
